@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

html {
font-size: 20px;
}

body {
	margin: 0;
	background-color: #E1C79C;
}

.main {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 120%;
	margin: 0 auto;
	margin-top: 0px;
	background-color: beige;
	background-image: url(mapTexture2.jpg);
	background-size: 126.2% 97.5%;
	background-position: center;
	background-position: -12.8vw -6.5vw;
	background-repeat: no-repeat;

}

.title-sec {
	position: absolute;
	display: block;
	width: 40vw;
	height: 30vw;
	margin-left: 5%;
	background-image: url(title-text.png);
	background-size: 100% 100%;
	margin-top: 3%;
	filter: brightness(80%);
}

.boxes {
	position: absolute;
	display: block;
	width: 500px;
	height: 750px;
	margin-left: 12%;
	margin-top: 650px;
}

.intro, .stat-sec {
	display: block;
	float: left;
}

.intro {
	height: 150px;
}

.choose-stat, .buffer, .table {
	display: block;
	width: 500px;
	float: left;
}

.choose-stat {
	position: absolute;
	height: 50px;
	width: 550px;
	border-style: solid;
	border-width: 0.25px 0px 0.25px 0px;
	border-color: #332109;
	box-sizing: border-box;
	margin-top: 0px;
	cursor: pointer;
}

/*.buffer {
	position: absolute;
	height: 50px;
	width: 400px;
	border-style: solid;
	border-width: 0.25px;
	border-color: black;
	box-sizing: border-box;
	margin-top: 50px;
}*/

.headers {
	position: absolute;
	width: 200px;
	display: block;
	margin-right: 100px;
	font-family: 'Libre Baskerville', serif;
	margin-left: 10px;
	font-size: 13px;
	float: left;
	margin-top: 120px;
	color: #584531;
	font-weight: bold;
}

.header2 {
	width: 250px;
	margin-left: 15vw;
}

.table {
	height: 4.545%;
	width: 400px;
	border-style: solid;
	border-width: 0px 0px 0.05px 0.15px;
	border-color: #332109;
	box-sizing: border-box;

}

.s {
	display: block;
	height: 100%;
	width: 150px;
	padding-left: 20px;
	padding-top: 2px;
	font-style: italic;
	font-size: 0.7rem;
	float: left;
	font-family: 'Libre Baskerville', serif;
	/*background-color: purple;*/
	color: #584531;
}

.n {
	display: block;
	height: 100%;
	width: 180px;
	float: right;
	font-size: 0.7rem;
	font-family: 'Libre Baskerville', serif;
	padding-top: 2px;
	color: #584531;
}

.map {
	display: block;
	position: absolute;
	width: 52vw;
	height: 47.9vw;
	background-image: url(normal.png);
	background-size: 100% 100%;
	opacity: 1;
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	opacity: 1;
	margin-left: 41.8vw;
	margin-top: 5.3vw;
}

.links {
	display: block;
	float: left;
	width: 33%;
	height: 100%;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	text-align: center;
	color: #584531;
	cursor: pointer;
}

.finger {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url(finger.png);
	background-size: 100% 100%;
	margin-left: -90px;
	margin-top: -20px;
	opacity: 0.7;
}




/*@media screen and (max-width: 1000px) {
    .main {
    	display: none;
    }
}*/



/* RESPONSIVE BOXES */

.boxes {
	position: absolute;
	display: block;
	width: 35vw;
	height: 0px;
	margin-left: 12%;
	margin-top: 36%;
}

.intro {
	width: 10%;
	height: 10vw;
}

.choose-stat {
	width: 80%;
}

.links {
	font-size: 0.8vw;
	margin-left: 0vw;
	margin-top: 1vw;
}

.finger {
	width: 6.5vw;
	height: 6.5vw;
	margin-left: -6vw;
	x-transition: all 1s ease-in-out;
    animation: fingermove 1.7s infinite;
}

@keyframes fingermove {
0% {
	margin-left: -6.5vw;
}
50% {
	margin-left: -6vw;
}
100% {
	margin-left: -6.5vw;
}
}

.finger-new {
	width: 6.5vw;
	height: 6.5vw;
	margin-left: -6vw;
	display: block;
	position: absolute;
	background-image: url(finger.png);
	background-size: 100% 100%;
	margin-left: -115px;
	margin-top: -20px;
	opacity: 0.7;
}





.stat-sec-1, .stat-sec-1-sorted, .stat-sec-2, .stat-sec-2-sorted, .stat-sec-3, .stat-sec-3-sorted {
	width: 300px;
	height: 0px;
	margin-top: -2vw;
}

.stat-sec-1 {
	display: block;
}

.stat-sec-1-sorted {
	display: none;
}

.stat-sec-2 {
	display: none;
}

.stat-sec-2-sorted {
	display: none;
}

.stat-sec-3 {
	display: none;
}

.stat-sec-3-sorted {
	display: none;
}






.headers {
	color: #332109;
	font-size: 0.7vw;
	margin-top: 10.5vw;
}

.table {
	/*height: 4.545%;*/
	width: 28vw;
	height: 1.5vw;
}

.s {
	color: #683F28;
	font-size: 0.85vw;
}

.n {
	color: #683F28;
	width: 100px;
	font-size: 0.85vw;
}

.buffer {
	height: 0px;
}



#l1 {
	color: #683F28;
	opacity: 0.7;
}


#l2 {
	color: #683F28;
	opacity: 0.7;
	margin-top: 8px;
}

#l3 {
	color: #683F28;
	opacity: 0.7;
}


.summary {
	display: block;
	position: absolute;
	width: 32vw;
	height: 20vw;
	right: 0;
	bottom: 0;
	margin-bottom: -20vw;
}

.sum-text {
	display: block;
	width: 25vw;
	height: 18vw;
	float: left;
	font-size: 0.6rem;
	font-family: 'Libre Baskerville', serif;
	line-height: 0.9rem;
	color: #683F28;
}

#sum-header {
	font-size: 1rem;
	font-family: 'Libre Baskerville', serif;
	margin-bottom: 0rem;
	color: #683F28;
	font-weight: lighter;
}

.sort {
	position: absolute;
	display: block;
	width: 2.5vw;
	height: 6.8vw;
	background-image: url(sort.png);
	background-size: 100% 100%;
	margin-left: -4.3vw;
	margin-top: 8vw;
	cursor: pointer;
}

.section-name {
	display: block;
	position: absolute;
	font-size: 0.7rem;
	font-family: 'Libre Baskerville', serif;
	color: #683F28;
	margin-top: -1.3rem;
	margin-left: 0rem;
	text-align: center;
}

.bottom {
	position: absolute;
	width: 100%;
	height: 30vw;
	background-image: url(bottom.png);
	background-size: 100% 200%;
	background-repeat: no-repeat;
	top: 90vw;
	background-position: center top;
	background-position: 0px -30vw;

}



@media screen and (max-width: 968px) {
    .main {
        width: 968px;
        padding-bottom: 1200px;
        background-position: 0px -50px;
        background-size: 94% 71%;
        background-position: -85px -47px;
    }

    .map {
    	width:377px;
    	height: 350px;
    	margin-left: 315px;
    	margin-top: 41px;
    }

    .boxes {
    	width: 200px;
    	height: 500px;
    	margin-left: 80px;
    	margin-top: 300px;
    }

    .intro {
    	margin-left: 0px;
    }

    .table {
    	width: 200px;
    }

    .n {
    	width: 60px;
    	font-size: 6px;
    }

    .s {
    	width: 60px;
    	font-size: 6px;
    }

    .stat {
    	margin-top: 100px;
    	width: 200px;
    }

    .headers {
    	margin-top: -15px;
    }

    .boxes {
		position: absolute;
		display: block;
		width: 200px;
	}

	.intro {
		width: 10%;
		height: 10vw;
	}

	.choose-stat {
		width: 80%;
	}

	.links {
		font-size: 6px;
	}

	.title-sec {
		width: 300px;
		height: 220px;
		margin-top: 25px;
		margin-left: 25px;
	}

	.finger {
		width: 50px;
		height: 50px;
		margin-top: -5px;
		margin-left: -40px;
	}

	.sort {
		width: 15px;
		height: 40px;
		margin-top: 100px;
		margin-left: -20px;
	}

	.table {
		height: 15px;
	}

	.headers {
		margin-right: 0px;
		font-size: 6px;
		margin-left: 0px;
	}

	.header2 {
		margin-left: 90px;
	}
}

@media screen and (min-width: 1490px) {
	.map {
		margin-left: 42.2vw;
		margin-top: 5.6vw;
		width: 51.75vw;
	}

	.s {
    	width: 200px;
    }
}


/*.bars {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(states-orig.png);
	background-size: 100% 100%;
	background-position: 0px 13px;
	-webkit-transition: background-image 0.1s ease-in-out;
	transition: background-image 0.1s ease-in-out;
}

.bars-new {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(statesActive.png);
	background-size: 100% 100%;
	background-position: 0px 13px;
	-webkit-transition: background-image 0.1s ease-in-out;
	transition: background-image 0.1s ease-in-out;
}*/